.venv/
venv/
env/

.idea/

.vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

**/__pycache__/
Backend/__pycache__/main.cpython-*/
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/

.mypy_cache/
.pyre/
.pytype/

.ruff_cache/

.ipynb_checkpoints/

.env
.env.*

*.log

.DS_Store

*.tmp
*.swp

.junie